services:
  zookeeper:
    image: bitnami/zookeeper:${ZOOKEEPER_VERSION}
    container_name: ${ZOOKEEPER_CONTAINER}
    volumes:
    - ./data/zookeeper-data:/bitnami/zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=${ALLOW_ANONYMOUS_LOGIN}
    ports:
      - "${ZOOKEEPER_PORT}:2181"
    restart: unless-stopped 
    networks:
      - monitor-net

  kafka:
    image: bitnami/kafka:${KAFKA_VERSION}
    container_name: ${KAFKA_CONTAINER}
    volumes:
      - ./data/kafka-data:/bitnami/kafka
    environment:
      - KAFKA_CFG_BROKER_ID=${KAFKA_BROKER_ID}
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:${KAFKA_PORT}
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${KAFKA_ADVERTISED_HOST}:${KAFKA_PORT}
      - KAFKA_CFG_ZOOKEEPER_CONNECT=${ZOOKEEPER_CONTAINER}:${ZOOKEEPER_PORT}
      - ALLOW_PLAINTEXT_LISTENER=${ALLOW_PLAINTEXT_LISTENER}
      - KAFKA_LOG_RETENTION_HOURS=${KAFKA_LOG_RETENTION_HOURS}
      - KAFKA_HEAP_OPTS=${KAFKA_HEAP_OPTS}
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    depends_on:
      - zookeeper
    restart: unless-stopped 
    mem_limit: ${KAFKA_MEMORY_LIMIT}
    networks:
      - monitor-net

  kafdrop:
    image: obsidiandynamics/kafdrop:${KAFDROP_VERSION}
    container_name: ${KAFDROP_CONTAINER}
    ports:
      - "${KAFDROP_PORT}:9000"
    environment:
      KAFKA_BROKERCONNECT: ${KAFKA_CONTAINER}:${KAFKA_PORT}
      JVM_OPTS: "${KAFDROP_JVM_OPTS}"
    depends_on:
      - kafka
    restart: unless-stopped 
    networks:
      - monitor-net 

  # logstash:
  #   image: docker.elastic.co/logstash/logstash:8.11.2
  #   container_name: logstash
  #   env_file:
  #     - .env
  #   depends_on:
  #     - postgres
  #     - elasticsearch
  #   restart: unless-stopped 
  #   volumes:
  #     - ./logstash/config/logstash_dishes.conf:/usr/share/logstash/pipeline/logstash_dishes.conf:ro
  #     - ./logstash/config/logstash_restaurants.conf:/usr/share/logstash/pipeline/logstash_restaurants.conf:ro
  #     - ./drivers/postgresql-42.5.1/postgresql-42.5.1.jar:/usr/share/logstash/logstash-core/lib/jars/postgresql-42.5.1.jar:ro
  #     - ./data/logstash:/usr/share/logstash/data  
  #   environment:
  #     - LS_JAVA_OPTS=-Xmx512m -Xms512m
  #   networks:
  #     - monitor-net

  postgres:
    image: postgres:${POSTGRES_VERSION}
    container_name: ${POSTGRES_CONTAINER}
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
    networks:
      - monitor-net

  redis:
    image: redis:${REDIS_VERSION}
    container_name: ${REDIS_CONTAINER}
    command: ["redis-server", "--maxmemory", "${REDIS_MAXMEMORY}", "--maxmemory-policy", "${REDIS_POLICY}"]
    ports:
      - "${REDIS_PORT}:6379"
    restart: unless-stopped
    mem_limit: ${REDIS_MEMORY_LIMIT} 
    networks:
      - monitor-net

  redisinsight:
    image: redislabs/redisinsight:1.14.0  
    container_name: redisinsight
    ports:
      - "8001:8001"
    depends_on:
      - redis
    volumes:
      - redisinsight-data:/db
    restart: unless-stopped 
    networks:
      - monitor-net

  n8n:
    image: n8nio/n8n:1.115.3
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"   # nếu trùng port, đổi host:container thành "8081:5678"
    environment:
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_URL=${N8N_HOST}
      - N8N_PORT=${N8N_PORT}
      - N8N_PROTOCOL=${N8N_PROTOCOL}
      - WEBHOOK_URL=${WEBHOOK_URL}
      - N8N_TRUSTED_PROXIES=${N8N_TRUSTED_PROXIES}
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
      - N8N_BINARY_DATA_MODE=filesystem
      - N8N_DEFAULT_BINARY_DATA_PATH=/home/node/.n8n/files
      - N8N_USER_FOLDER=/home/node/.n8n
      - N8N_TEMPLATES_DIR=/home/node/.n8n/templates
      - TMPDIR=/home/node/.n8n/tmp
    volumes:
      - ./data/n8n_data:/home/node/.n8n
      - ./data/n8n_tmp:/home/node/.n8n/tmp
    depends_on:
      - kafka
      - redis
    networks:
      - monitor-net

  chatbot-service:
    image: quanghau123/chatbot-service:latest
    container_name: ${CHATBOT_CONTAINER}
    ports:
      - "${CHATBOT_PORT}:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - N8N_URL=${N8N_URL}
    volumes:
      - ./chatbot-service/ChatbotService/appsettings.json:/app/appsettings.json:ro
      - ./data/protection-keys/chatbot:/root/.aspnet/DataProtection-Keys
    depends_on:
      - n8n
      - kafka
    networks:
      - monitor-net

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
  #   container_name: ${ELASTIC_CONTAINER}
  #   environment:
  #     - discovery.type=single-node
  #     - xpack.security.enabled=${ELASTIC_SECURITY}
  #     - ES_JAVA_OPTS=-Xms${ELASTIC_JAVA_XMS} -Xmx${ELASTIC_JAVA_XMX}
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  #   volumes:
  #     - ./data/elasticsearch:/usr/share/elasticsearch/data
  #   ports:
  #     - "${ELASTIC_PORT}:9200"
  #   restart: unless-stopped
  #   networks:
  #     - monitor-net

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:${KIBANA_VERSION}
  #   container_name: ${KIBANA_CONTAINER}
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://${ELASTIC_CONTAINER}:${ELASTIC_PORT}
  #   ports:
  #     - "${KIBANA_PORT}:5601"
  #   depends_on:
  #     - ${ELASTIC_CONTAINER}
  #   restart: unless-stopped
  #   networks:
  #     - monitor-net

  smarttastyservice:
    image: quanghau123/smarttasty-service:latest
    container_name: ${SMARTTASTY_CONTAINER}
    ports:
      - "${SMARTTASTY_PORT}:8080"
    depends_on:
      - kafka
      - redis
    volumes:
      - ./smarttasty-service/backend/appsettings.json:/app/appsettings.json:ro
      - ./data/protection-keys/smarttasty:/root/.aspnet/DataProtection-Keys
    environment:
      - DOTNET_ENVIRONMENT=Development
      - TZ=Asia/Ho_Chi_Minh
    networks:
      - monitor-net

  socketserver:
    image: quanghau123/socket-server:latest
    container_name: ${SOCKET_CONTAINER}
    ports:
      - "${SOCKET_PORT}:8000"
    depends_on:
      - kafka
      - redis
    volumes:
      - ./socket-server/WebSocketServer/appsettings.json:/app/appsettings.json:ro
      - ./data/protection-keys/socket:/root/.aspnet/DataProtection-Keys
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_URLS=http://0.0.0.0:8000
    networks:
      - monitor-net

  notification-service:
    image: quanghau123/notification-service:latest
    container_name: ${NOTI_CONTAINER}
    ports:
      - "${NOTI_PORT}:8080"
    depends_on:
      - kafka
      - redis
    volumes:
      - ./notification-service/NotificationService/appsettings.json:/app/appsettings.json:ro
      - ./data/protection-keys/notification:/root/.aspnet/DataProtection-Keys
    environment:
      - DOTNET_ENVIRONMENT=Development
    networks:
      - monitor-net

  watchtower:
    image: ${WATCHTOWER_IMAGE}
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - DOCKER_HUB_USERNAME=${DOCKER_HUB_USERNAME}
      - DOCKER_HUB_PASSWORD=${DOCKER_HUB_ACCESS_TOKEN}
    command: --interval 300  # Checks for updates every 5 minutes
    networks:
      - monitor-net

  cadvisor:
    image: ${CADVISOR_IMAGE}
    container_name: ${CADVISOR_CONTAINER}
    restart: unless-stopped
    ports:
      - "${CADVISOR_PORT}:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - monitor-net

  prometheus:
    image: ${PROMETHEUS_IMAGE}
    container_name: ${PROMETHEUS_CONTAINER}
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    ports:
      - "${PROMETHEUS_PORT}:9090"
    networks:
      - monitor-net

  loki:
    image: ${LOKI_IMAGE}
    container_name: ${LOKI_CONTAINER}
    restart: unless-stopped
    ports:
      - "${LOKI_PORT}:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki
    networks:
      - monitor-net

  promtail:
    image: ${PROMTAIL_IMAGE}
    container_name: ${PROMTAIL_CONTAINER}
    restart: unless-stopped
    volumes:
      - ./monitoring/promtail-config.yml:/etc/promtail/config.yml:ro
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitor-net

  grafana:
    image: ${GRAFANA_IMAGE}
    container_name: ${GRAFANA_CONTAINER}
    restart: unless-stopped
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - monitor-net

  node-exporter:
    image: ${NODE_EXPORTER_IMAGE}
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100" 
    volumes:
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/:/rootfs:ro"
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/rootfs
    networks:
      - monitor-net

volumes:
  redisinsight-data:
  prometheus-data:
  grafana-data:
  loki-data:

networks:
  monitor-net:
    driver: bridge